#signup-form {
  padding-left: 20px;
  input {
    &[type=text], &[type=email], &[type=password] {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.ng-touched.ng-invalid {
  background-color: $red;
}
.ng-touched.ng-valid {
  background-color: $secondary-1-lighter;
}
