// Colors
// As hex codes */

$primary: #0D7534;  // Main Primary color */
$primary-lighter: #3BA161;
$primary-light: #1C8F47;
$primary-dark: #005B22;
$primary-darker: #003D17;

$secondary-1: #589310;  // Main Secondary color (1) */
$secondary-1-lighter: #90C94A;
$secondary-1-light: #73B423;
$secondary-1-dark: #3F7300;
$secondary-1-darker: #2A4C00;

$secondary-2: #0F4D65;  // Main Secondary color (2) */
$secondary-2-lighter: #37748B;
$secondary-2-light: #1D627C;
$secondary-2-dark: #033A4F;
$secondary-2-darker: #012634;

$white: #FFFFFF;
$black: #000000;
$lighter-gray: #eee;
$light-gray: #ddd;
$gray: #ccc;
$dark-gray: #bbb;

// As RGBa codes */
$rgba-primary-0: rgba( 13,117, 52,1); // Main Primary color */
$rgba-primary-1: rgba( 59,161, 97,1);
$rgba-primary-2: rgba( 28,143, 71,1);
$rgba-primary-3: rgba(  0, 91, 34,1);
$rgba-primary-4: rgba(  0, 61, 23,1);

$rgba-secondary-1-0: rgba( 88,147, 16,1); // Main Secondary color (1) */
$rgba-secondary-1-1: rgba(144,201, 74,1);
$rgba-secondary-1-2: rgba(115,180, 35,1);
$rgba-secondary-1-3: rgba( 63,115,  0,1);
$rgba-secondary-1-4: rgba( 42, 76,  0,1);

$rgba-secondary-2-0: rgba( 15, 77,101,1); // Main Secondary color (2) */
$rgba-secondary-2-1: rgba( 55,116,139,1);
$rgba-secondary-2-2: rgba( 29, 98,124,1);
$rgba-secondary-2-3: rgba(  3, 58, 79,1);
$rgba-secondary-2-4: rgba(  1, 38, 52,1);


// Sizes and lengths
$col_num: 6;